.content {
    width: 100%;
    height: 100%;
    .header {
      height: 430px;
      width: 100%;
      background-image: url("assets/background-haut.png");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
    }
    .body {
      width: 100%;
      .rectangle {
        position: relative;
        width: 500px;
        height: 30px;
        border: 1px solid #006400;
        display: block;
        margin: auto;
        box-shadow: 3px 3px 3px #ccc;
        border-radius: 3px;
        .rectangle-content {
          margin-top: 5px;
          .rectangle-icon {
            position: absolute;
            width: 10px;
            height: 10px;
            margin: 5px;
          }
          .rectangle-label {
            margin-left: 25px;
            color: #006400;
          }
        }
      }
      .text {
        width: 795px;
        height: 155px;
        display: block;
        margin: auto;
        padding: 25px;
        .title {
          text-align: center;
          .title-marqueur {
            width: 10px;
            height: 10px;
            margin-right: 6px;
          }
          .title-label {
            text-transform: uppercase;
            color: #b20510;
          }
        }
      }
    }
    .footer {
      width: 100%;
      height: 672px;
      .btn-actions {
        display: block;
        text-align: center;
        margin: 20px;
        .btn-blue {
          margin: 5px;
          background-color: #0093d7;
          color: white;
          border-radius: 25px;
          border: white;
          text-transform: uppercase;
          height: 35px;
          padding: 10px;
        }
        .btn-red {
          margin: 5px;
          background-color: #b20510;
          color: white;
          border-radius: 25px;
          border: white;
          text-transform: uppercase;
          height: 35px;
          padding: 10px;
        }
      }
      .upload-file {
        width: 500px;
        height: 220px;
        display: block;
        margin: auto;
        border: 1px solid #ccc;
        padding: 27px;
        text-align: center;
        box-shadow: 3px 3px 3px #ccc;
        border-radius: 5px;
        .desc {
          padding-bottom: 20px;
        }
        .upload {
          text-align: left;
        }
        .btn-upload {
          border: 4px solid #0093d7;
          margin-top: 85px;
          padding: 7px 30px 7px 30px;
          color: #0093d7;
          font-weight: bold;
          background-color: white;
        }
      }
    }
  }
  